{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
 {{ owner.first_name }}'s orders list
{% endblock %}

{% block body %}
  <h2>User's info: </h2>
  <div>Name: {{ owner.first_name }}</div>
  <div>Surname: {{ owner.last_name }}</div>
  {% cache 180 owner_orders owner.id %}
  <h3>{{ owner.first_name }}'s orders:</h3>
  {% if orders %}
    <div>
      {% for order in orders %}
        <div>
          <p><a href="{% url 'shopapp:order_details' pk=order.pk %}"
          >Details #{{ order.pk }}</a></p>
          <p>Order by {% firstof order.user.first_name order.user.username %}</p>
          <p>Promocode: <code>{{ order.promocode }}</code></p>
          <p>Delivery address: {{ order.delivery_address }}</p>
          <div>
            Product in order:
            <ul>
              {% for product in order.products.all %}
                <li>{{ product.name }} for ${{ product.price }}</li>
              {% endfor %}

            </ul>
          </div>

        </div>
      {% endfor %}

    </div>
  {% else %}
    <h3>No orders yet</h3>
  {% endif %}
  {% endcache %}
{% endblock %}
